@model MLM.Web.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Company</h4>
    <hr />
    <div class="row"><img src="@Url.Action("GetCompanyLogo", "ShowImage" ,new{id=Model.CompanyKey})" alt="User Image" /></div>
    <dl class="dl-horizontal">
        <dt>ID</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>Name</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>Address</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>
        <dt>State</dt>

        <dd>
            @Html.DisplayFor(model => model.StateList.StateName)
        </dd>
        <dt>City</dt>

        <dd>
            @Html.DisplayFor(model => model.CityList.CityName)
        </dd>
        <dt>Zipcode</dt>

        <dd>
            @Html.DisplayFor(model => model.ZIPList.ZIP)
        </dd>
        <dt>Phone #</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>Emergency Contact</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyMobile)
        </dd>

        <dt>Email</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>Website</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyWebsite)
        </dd>

        <dt>Fax</dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyFax)
        </dd>

        <dt>Contact Person Name</dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt>Tite</dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>Contact Person Email</dt>

        <dd>
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt>Contact Person No</dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonNo)
        </dd>

    </dl>
</div>